<html>
 <head>
  <title>SPRINT 3 test </title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.php>Homepage</a>
 </br>
<?php 
 Print "Test hostname : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</body>
</html>

